
@media screen and (min-width: 37.5em){

    nav ul {
        display: flex;
        margin: 0 auto;
        position: inherit;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
        display: block;
    }

    div {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}
